$tag-height: 24px;
$tag-hole-size: 6px;

.tag {
    display: inline-flex;
    position: relative;
    line-height: $tag-height;
    font-size: 11px;
    background: #ddd;
    margin-right: 24px;
    padding: 0 10px 0 12px;

    &::before {
        content: '';
        position: absolute;
        left: -1 * $tag-height;
        height: 0;
        width: 0;
        border: 0.5 * $tag-height solid;
        border-color: transparent #ddd transparent transparent;
    }

    &::after {
        content: '';
        height: $tag-hole-size;
        width: $tag-hole-size;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: ($tag-height - $tag-hole-size) / 2;
        box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.6) inset;
    }
}
