$tag-height: 24px;
$tag-hole-size: 6px;

.tag {
    display: inline-flex;
    position: relative;
    line-height: $tag-height;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.6);
    margin-right: 8px;
    padding: 5px 10px;

    &:hover {
        background: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.6);
        text-decoration: none;
    }
}
