@import 'variables.scss';

$divider-color: $color-primary;
$color-text-light : #fff;

.pagination {
    display: inline-flex;
    width: 100%;
    margin: 16px 0;

    .pagination-list {
        display: inline-flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: flex-end;
        width: 100%;
        justify-content: space-between;
    }

    .page-link {
        text-align: center;
        margin-right: 4px;
        display: inline-block;
        border: 1px solid $divider-color;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-decoration: none;
        color: $color-primary;
        background:  $color-text-light;
        cursor: pointer;
        outline: none;
        border-radius: 2px;

        &.active {
            background: $color-primary;
            color: $color-text-light;
        }

        &.disabled {
            opacity: 0.6;
            border: 1px dotted $divider-color;
            cursor: not-allowed;
        }

        &.direction {
            width: 90px;
            white-space: nowrap;
        }
    }

    .more {
        display: inline-block;
        margin-right: 4px;

        &:before {
            content: '...';
        }
    }
}
