code {
  font-family: 'Fira Code', 'Ubuntu Mono', monospace;
}

p > code {
  color: var(--text-code);
  font-size: 0.9em;
  padding: 0 0.2em;
  background: var(--text-code-bg);
  border-radius: 0.25em;
}

.content pre {
  position: relative;
  padding: 0;
  margin-bottom: var(--size-md);
  border-radius: var(--size-xs);
  color: var(--white-2);
  background: #002b36;

  & > code {
    overflow: scroll;
    padding: 1.25em 1.5em;
    display: block;
  }

  &[data-language] {
    padding-top: 1rem;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      background: var(--primary);
      right: 0;
      top: 0;
    }

    &::before {
      height: 8px;
      left: 0;
      border-radius: var(--size-xs) var(--size-xs) 0 0;
    }

    &::after {
      content: attr(data-language);
      text-transform: uppercase;
      line-height: 1rem;
      padding: 0.25rem 0.75rem;
      font-size: 0.8rem;
      color: white;
      border-radius: 0 var(--size-xs) 0 var(--size-xs);
    }
  }
}
