.footer {
  margin-top: var(--size-xl);

  .container {
    padding: 3rem 0;
    border-top: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social {
    display: inline-flex;
    align-items: center;

    a {
      display: inline-flex;
      align-items: center;

      & .image {
        height: 1.5rem;
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }

      html[data-theme='dark'] &[title='GitHub'] {
        filter: invert(1);
      }

      &[title='npm'] {
        transform: translateY(4px);
      }
    }
  }
}
