@import '../mixins';

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--size-xl);

  & &-previous,
  & &-next,
  & &-link {
    display: inline-flex;
    align-items: center;
    height: 2.5em;
    min-width: 2.5em;

    @include pagination-styles();
  }

  & &-previous {
    order: 1;
  }

  & &-next {
    order: 3;
  }

  & > &-list {
    order: 2;
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  & &-link {
    justify-content: center;
    margin: var(--size-sm);
    text-align: center;
  }
}
