---
layout: main
pagination:
  data: collections
  filter:
   - all
   - posts
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
<div class="container py-6">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">🏠</a></li>
      <li><a href="/tags">Tags</a></li>
      <li class="is-active"><a href="#" aria-current="page">{{tag}}</a></li>
    </ul>
  </nav>
  <div class="content">
    <h1>Tagged "{{ tag }}"</h1>
    <ol>
    {% set taglist = collections[ tag ] %}
    {% for post in taglist | reverse %}
      <li><a href="{{ post.url | url }}">{{ post.data.title | safe }}</a></li>
    {% endfor %}
    </ol>
  </div>
</div>



