html {
	box-sizing: border-box;
    height: 100%;
}

body {
    height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.site-wrapper {
    min-height: 100%;
    margin-bottom: -84px;

    &:after {
        display: block;
        content: "";
        height: 84px;
    }
}

a {
    color: @color-primary;

    &:hover, &:active, &:focus {
        color: darken(@color-primary, 10%);
        text-decoration: underline;
    }
}
