---
layout: main
permalink: '/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
pagination:
  size: 5
  data: collections.posts
  reverse: true
  alias: posts
---

{% macro link(pageNum) %}
{% set active = page.url === pagination.hrefs[pageNum - 1]%}
<li>
  <a class="pagination-link {{ 'is-current' if active }}" aria-label="Goto page {{ pageNum }}" href="{{ pagination.hrefs[pageNum - 1] }}">
    {{ pageNum }}
  </a>
</li>
{% endmacro %}

<div class="container blog-list">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">🏠</a></li>
      <li class="is-active"><a href="#" aria-current="page">Blog</a></li>
    </ul>
  </nav>
  {% for post in posts %}
    {% include "partials/article-preview.njk" %}
  {% endfor %}
  <nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous"
      href="{{ pagination.href.previous if pagination.href.previous else '#' }}"
      {{ 'disabled' if not pagination.href.previous }}> &larr; Prev</a>
    <a class="pagination-next"
      href="{{ pagination.href.next if pagination.href.next else '#' }}"
      {{ 'disabled' if not pagination.href.next }}>Next &rarr;</a>

    <ul class="pagination-list">
    {% set totalPages = pagination.pages | length %}
    {% set groupSize = 3 %}
    {% set offsetGroupSize = 1 %}
    {% set currentPage = pagination.pageNumber + 1 %}
    {% if totalPages > 1 %}
      {% if  totalPages <= groupSize + (2 * offsetGroupSize) %}

        {% for _page in pagination.pages %}
          {{ link(loop.index, pagination.hrefs[loop.index0], page.url === pagination.hrefs[loop.index0]) }}
        {% endfor %}

      {% else %}

        {% set moreLeft = currentPage > groupSize %}
        {% set moreRight = totalPages - currentPage >= groupSize %}

        {% if moreLeft %}

          {% for i in range(0, offsetGroupSize) %}
            {{ link(i + 1) }}
          {% endfor %}
          <span class="pagination-ellipsis">&hellip;</span>

        {% else %}

          {% for i in range(0, offsetGroupSize + groupSize) %}
            {{ link(i + 1)}}
          {% endfor %}

        {% endif %}

        {% if moreLeft and moreRight %}

          {% for i in range(0, groupSize) %}
            {{ link(i + currentPage - ((groupSize / 2) | round(0, 'floor'))) }}
          {% endfor %}

        {% endif %}

        {% if moreRight %}

          <span class="pagination-ellipsis">&hellip;</span>
          {% for i in range(0, offsetGroupSize) %}
            {{ link(i + totalPages) }}
          {% endfor %}

        {% else %}

          {% for i in range(0, offsetGroupSize + groupSize) %}
            {{ link(i + totalPages - groupSize) }}
          {% endfor %}

        {% endif %}

      {% endif %}

    {% endif %}
    </ul>
  </nav>
</div>
