---
layout: main
permalink: '/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
pagination:
  size: 5
  data: collections.posts
  reverse: true
  alias: posts
---

<div class="container">
  {% for post in posts %}
  <div>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </div>
  {% endfor %}
  <nav class="pagination is-centered is-small" role="navigation" aria-label="pagination">
    <a
      class="pagination-previous"
      href="{{ pagination.href.previous }}"
      {%
      if
      not
      pagination.href.previous
      %}disabled{%
      endif%}
      >Previous</a
    >
    <a class="pagination-next" href="{{ pagination.href.next }}">Next page</a>
    <ul class="pagination-list">
      {% for page in pagination.pages %}
      <li>
        <a
          class="pagination-link{% if page.url == pagination.hrefs[loop.index0] %} is-current {% endif %}"
          aria-label="Goto page {{ loop.index }}"
          href="{{ pagination.hrefs[loop.index0] }}"
        >
          {{ loop.index }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
