@import "variables.scss";
@import "mixins.scss";

.blog-post {

    .container {
        @media (min-width: 48em) {
            width: 720px;
        }
    }

    .post {
        max-width: 100%;
        overflow: hidden;
    }

    .sidebar {
        min-width: 240px;
        max-width: 240px;
        padding-left: 28px;
    }

    .title {
        font-weight: bold;
        font-size: 44px;
        line-height: 50px;
        letter-spacing: -1px;
        margin: 0 0 8px 0;
        padding: 0;
    }

    .intro {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        color: #aaa;
        margin: 0 0 16px 0;
    }

    :global(.img-center) {
        display: block;
        margin: 0 auto;
    }

    .footer {
        border-top: 1px solid $color-divider;
        // border-bottom: 1px solid $color-divider;
        margin: 28px 0;
        padding: 28px 0;
        display: flex;
    }

    .tags {
        display: inline-block;
    }

    .recent-posts-container {
        border-top: 1px solid #ddd;
        padding: 30px 0 20px 0;
    }

    .recent-posts {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .recent-post {
        display: inline-block;
        margin: 20px 10px;
        border: 1px solid #ddd;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

    }

    .recent-post-link {
        text-decoration: none;
        color: $base-font-color;
        display: block;
        padding: 20px;

        .description {
            font-size: 14px;
        }
    }
}
