{% extends "_layouts/base.html" %}

{% block title %}{{ title }} | Blog | {% endblock %}

{% block content %}
<div class="container">
    <header class="blog-header">
        <div class="blog-container center">
            <h1 class="blog-title">{{ title }}</h1>
            <h5 class="blog-publish-info">By <a href="{% if author.site %}{{ author.site }}{% elif author.email %}mailto:{{ author.email }}{% endif %}">{{ author.name }}</a> on {{ date.format("MMMM Do, YYYY") }}</h5>
        </div>
    </header>
    <section class="blog-content">
        <section class="blog-sidebar sidebar-left">
            <div class="share">
                <h4>Share this</h4>
                <ul class="share-links">
                    <li>
                        <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ link }}">
                            <svg class="icon">
                                <use xlink:href="#navicon-facebook" />
                            </svg>
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a class="twitter" href="https://twitter.com/intent/tweet?url={{ link }}&text={{ title }}&via={{data.social.twitter.username}}">
                            <svg class="icon">
                                <use xlink:href="#navicon-twitter" />
                            </svg>
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a class="google-plus" href="https://plus.google.com/share?url={{ link }}">
                            <svg class="icon">
                                <use xlink:href="#navicon-google-plus" />
                            </svg>
                            Google Plus
                        </a>
                    </li>
                </ul>
            </div>
            <div class="follow">
                <h4>Follow me</h4>
                <ul class="follow-links">
                    {% for key, media in data.social %}
                        {% if media.follow %}
                            <li>
                                <a href="{{media.link}}" title="{{media.name}}" class="{{media.name|kebabCase}}">
                                    <svg class="icon">
                                        <use xlink:href="#navicon-{{media.name|kebabCase}}" />
                                    </svg>
                                    {{media.name}}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>
        <div class="blog-article">
            <article class="blog-container">
                {{ content }}
            </article>
        </div>
        <div class="blog-sidebar sidebar-right">
            <h4>Recent posts</h4>
            <ul class="recent-posts">
                {% for post in recent_posts %}
                    {% if permalink != post.permalink %}
                    <li>
                        <a href="/blog/{{post.permalink}}" title="{{post.title}}">
                            {{post.title}}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <h4>Categories</h4>
            <ul class="blog-labels">
                {% for label in all_tags %}
                <li>
                    <a href="/blog/labels/{{label}}/" title="{{label}}">
                        {{label}}
                    </a>
                </li>
                {% endfor %}
            </ul>

            <div class="amzn-affiliate">
                {% if env == 'production' %}
                <script type="text/javascript" language="javascript">
                    var aax_size= '160x600';
                    var aax_pubname = 'vkbansalme-21';
                    var aax_src='302';
                </script>
                <script type="text/javascript" language="javascript" src="https://c.amazon-adsystem.com/aax2/assoc.js"></script>
                {% endif %}
            </div>
        </div>
    </section>
    <div class="blog-container center">
        <div id="disqus_thread"></div>
    </div>

    {% if env == 'production' %}
    <script type="text/javascript">
        var disqus_shortname = '{{ data.disqus.shortname }}',
            disqus_identifier = '{{ slug }}',
            disqus_title = '{{ title }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}

    {% if math == true %}
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    {% endif %}
</div>
{% endblock %}
