{% extends "_layouts/page.html" %}

{% block title %}{{ title }} | Blog | {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="blog-title">
            <h1>{{ title }}</h1>
            <small class="post-meta">By <a href="{% if author.site %}{{ author.site }}{% elif author.email %}mailto:{{ author.email }}{% endif %}">{{ author.name }}</a> {{ date }}</small>
        </div>
    </div>
    <div class="row">
        <div class="blog-sidebar-left">
            <ul class="share">
                <li>Share this:</li>
                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ currentUrl }}">Facebook</a></li>
                <li><a href="https://twitter.com/intent/tweet?url={{ currentUrl }}&text={{ title }}&via=_vkbansal">Twitter</a></li>
                <li><a href="https://plus.google.com/share?url={{ currentUrl }}">Google+</a></li>
            </ul>
            <ul class="share">
                <li>Follow me:</li>
                <li><a href="http://feeds.feedburner.com/vkbansal">RSS</a></li>
                <li><a href="https://github.com/vkbansal">Github</a></li>
                <li><a href="https://www.facebook.com/vkbansal.me">Facebook</a></li>
                <li><a href="https://twitter/_vkbansal">Twitter</a></li>
            </ul>
        </div>
        <div class="blog-content">
            {{ content }}
        </div>
        <div class="blog-sidebar-right">
            <ul class="recent-posts">
                <li>Recent posts:</li>
                {% for post in posts %}
                    {% if post.title != title %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="disqus_thread"></div>
    {% if env != 'development' %}
    <!--script type="text/javascript">
        var disqus_shortname = 'vkbansal',
            disqus_identifier = '{{ slug }}',
            disqus_title = '{{ title }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script-->
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
</div>
{% endblock %}
