{% if ajax == true %}
    {% extends "_layouts/ajax.html" %}
{% else %}
    {% extends "_layouts/page.html" %}
{% endif %}

{% block title %}{{ title }} | {% endblock %}

{% set active = "Blog" %}

{% block content %}
<div class="container">
    {% if tag_applied %}
        <h5>Current label: <span class="applied-tag">{{ tag_applied }}&nbsp;&nbsp;<a href="{{ config.index }}">&times;</a></span></h5>
    {% endif %}
    <section class="blog-articles">
        {% if posts.length > 0 %}
            {% for post in posts %}
            <div class="article">
                <a href="/{{post.permalink}}">
                    <p class="meta">{{ post.date.format("MMMM Do, YYYY") }}</p>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.description }}</p>
                </a>
                {% if not tag_applied %}
                    <ul class="tags">
                        {% for tag in post.tag %}
                            <li class="tag">
                                <a href="{{ config.tags_dir|replace(":tag", tag) }}">{{ tag }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
        <p>No recent articles found.</p>
        {% endif %}
    </section>
    <section class="pagination">
        <ul>
            {% if links.next %}
            <li>
                <a href="{{links.next}}">&larr;&nbsp;&nbsp;Older Posts</a>
            </li>
            {% endif %}
            {% if links.prev %}
            <li>
                <a href="{{links.prev}}">Newer Posts&nbsp;&nbsp;&rarr;</a>
            </li>
            {% endif %}
        </ul>
    </section>
</div>
{% endblock %}
