<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.title }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="{{ '/img/logo-16.png' | hash }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ '/img/logo-32.png' | hash }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ '/img/logo-96.png' | hash }}" sizes="96x96" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/styles/main.css' | hash }}">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{% if title %}{{ title }} - {% endif %}{{ site.title }}"/>
    <meta name="twitter:site" content="@{{ site.social.twitter.username }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    <meta name="twitter:image" content="{{ site.url }}{{ '/img/logo-512.png' | hash }}"/>
  </head>
  <body>
   <script>
    (() => {
      try {
        const mql = window.matchMedia('(prefers-color-scheme: dark)');
        const theme = localStorage.getItem('theme');
        document.body.parentElement.dataset.theme = theme ? theme : mql.matches ? 'dark' : 'light';
      } catch(e) {}
    })()
    </script>
    <header class="header">
      <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a href="/" class="navbar-item" title="Home Page">
              {% include 'partials/logo.svg' %}
            </a>
            <a role="button" class="navbar-burger" data-target="nav-menu" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div class="navbar-menu" id="nav-menu">
          {% for link in site.nav %}
            {% set active = page.url | startsWith(link.to)%}
            <a class="navbar-item {% if active %}is-active{% endif %}" href="{{ link.to }}" title="{{ link.title }}" {% if link.external %} target="_blank" rel="noopener noreferrer" {% endif %}>
                {{ link.title }}
            </a>
          {% endfor %}
          <div class="navbar-item">
            <label for="toggle-dark-mode" title="theme">
              <input type="checkbox" id="toggle-dark-mode"/>
              <span />
            </label>
          </div>
          </div>
        </nav>
      </div>
    </header>
    {{ content | safe }}
    <footer class="footer">
      <div class="container">
        <p>&copy; {{- page.date.getFullYear() }} Vivek Kumar Bansal</p>
        <a href="https://www.netlify.com" target="_blank" rel="noopener noreferrer">
          <img src="https://www.netlify.com/img/global/badges/netlify-color-bg.svg" alt="Deploys by Netlify" />
        </a>
        <div class="social">
          {% for _key, link in site.social -%}
            {% if link.footer %}
            <a href="{{ link.link }}" title="{{ link.name }}" target="_blank" rel="noopener noreferrer">
              <img class="image {{ 'is-32x32' if _key === 'npm' else 'is-24x24' }}" alt="{{ _key }}" src="{{ link.img | hash }}" >
              <span class="is-sr-only">{{- link.name -}}</span>
            </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </footer>
    <script type="text/javascript">
    (() => {
      try {
        const burgers = Array.from(document.querySelectorAll('.navbar-burger'))
        burgers.forEach((el) => el.addEventListener('click', (e) => {
          const target = document.getElementById(el.dataset.target);
          el.classList.toggle('is-active');
          target.classList.toggle('is-active');
        }))
        const toggleTheme = document.getElementById('toggle-dark-mode');
        const isDarkTheme = localStorage.getItem('theme') === 'dark';

        if (toggleTheme) {
          toggleTheme.checked = isDarkTheme;
          toggleTheme.addEventListener('change', (e) => {
            const theme = e.target.checked ? 'dark' : 'light';
            localStorage.setItem('theme', theme);
             document.body.parentElement.dataset.theme = theme
          });
        }
        setTimeout(() => toggleTheme.classList.add('animate'), 1000)
      } catch(e) {}

    })()
    </script>
  </body>
</html>
