<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <base href="{{ baseUrl }}">
        <title>{% block title %}{% endblock %}Vivek Kumar Bansal, frontend developer and designer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700 | Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/styles.css">
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <nav class="main-nav">
            <a href="#" class="nav-btn" id="nav-btn">
                <span class="nav-btn-icon"></span>
            </a>
        {% set nav = [
                { title: "Home", link: "/"},
                { title: "About", link: "/about/"},
                { title: "Work", link: "/work/"},
                { title: "Blog", link: "/blog/"},
                { title: "Contact", link: "/contact/"}
            ]
        %}
          <ul class="nav-menu">
            {% for n in nav %}
                <li style="transition-delay: {{loop.index0 * 0.05}}s">
                    <a href="{{n.title}}">{{n.title}}</a>
                </li>
            {% endfor %}
          </ul>
        </nav>
        {#<footer class="connect">
                <p class="social">Connect with me</p>
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/vkbansal.me" class="facebook">
                          <svg class="icon">
                                <use xlink:href="#navicon-facebook" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="http://twitter.com/_vkbansal" class="twitter">
                            <svg class="icon">
                                <use xlink:href="#navicon-twitter" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/104240046366721765666" rel="publisher" class="google-plus">
                            <svg class="icon">
                                <use xlink:href="#navicon-gplus" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/vkbansal" class="github">
                            <svg class="icon">
                                <use xlink:href="#navicon-github" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.behance.net/vkbansal" class="behance">
                            <svg class="icon">
                                <use xlink:href="#navicon-behance" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://in.linkedin.com/in/vkb0310" class="linkedin">
                            <svg class="icon">
                                <use xlink:href="#navicon-linkedin" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </footer>#}
        <header class="site-header">
            <div class="container">
                <div class="info"></div>
                <h1 class="title">V<span>ivek </span>K<span>umar </span>Bansal</h1>
            </div>
        </header>
        <div id="site-content" class="site-content">
            {% block content %}{% endblock %}
        </div>
        {%  if template not in ['contact', 'project-planner'] %}
        <footer class="container center footer" id="hire-me">
            <h2 class="heading">Want to work with me?</h2>
            <p>If you like what you've seen and want to hire me, Just hit the link below.</p>
            <p><a href="/project-planner/" class="button">Plan a Project </a></p>
        </footer>
        {% endif %}
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script> -->
        <!-- <script type="text/javascript" src="js/plugins.min.js"></script> -->
        <script type="text/javascript" src="/assets/main.js"></script>
        {% block js %}
        {% endblock %}
        {% if env == 'production' %}
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-54521168-1', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
    </body>
</html>
