.article-preview {
  color: $text;
  display: block;
  padding: 3rem 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid $border;
  }

  & .date {
    font-style: italic;
    margin-bottom: 1rem;
  }

  & p:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.blog-list {
  padding: 3rem 0;

  & .breadcrumb {
    margin: 0;
  }

  & .pagination {
    margin: 3rem 0 0;
  }
}

.blog-post {
  padding: 3rem 0;

  & .content {
    margin: 0 auto;

    & pre > code {
      overflow: auto;
    }
  }

  img.is-center {
    display: block;
    margin: 0 auto;
  }

  &-info {
    opacity: 0.75;
    font-style: italic;
    margin-bottom: 1rem;
  }

  & iframe {
    margin-bottom: 1rem;
  }

  & .post-pagination {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span {
      display: block;
      min-height: 1px;
      min-width: 1px;
    }

    & a.prev-post,
    & a.next-post {
      display: inline-block;
      // height: 5rem;
      color: $text;
      border: 1px solid $border;
      padding: 0.5rem 1rem;
      width: 49%;
      overflow: hidden;

      &:hover {
        color: $primary;
      }
    }

    & .hint {
      display: block;
      font-size: 0.75em;
      color: $grey-light;
    }

    & .prev-post {
      text-align: left;
    }

    & .next-post {
      text-align: right;
    }
  }
}
