.article-preview {
  color: $text;
  display: block;
  padding: 3rem 0;
  &:not(:last-of-type) {
    border-bottom: 1px solid $border;
  }

  .date {
    font-style: italic;
    margin-bottom: 1rem;
  }

  p:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.blog-list {
  padding: 3rem 0;

  .breadcrumb {
    margin: 0;
  }

  .pagination {
    margin: 3rem 0 0;
  }
}

.blog-post {
  padding: 3rem 0;

  .content {
    // padding: 3rem 0 0;
    margin: 0 auto;
  }

  &-info {
    opacity: 0.75;
    font-style: italic;
    margin-bottom: 1rem;
  }

  iframe {
    margin-bottom: 1rem;
  }
}
