@import 'variables';

.content pre {
  position: relative;
  padding: 0;
  margin-bottom: 1rem;
  border-radius: $radius;

  & > code {
    overflow: scroll;
  }

  &[data-language] {
    padding-top: 1rem;

    & > code {
      padding: 1.25em 1.5em;
      display: block;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      background: map-get($my-colors, 'primary');
      right: 0;
      top: 0;
    }

    &::before {
      height: 8px;
      left: 0;
    }

    &::after {
      content: attr(data-language);
      text-transform: uppercase;
      line-height: 1rem;
      padding: 0.25rem 0.75rem;
      font-size: 0.8rem;
      color: white;
      border-bottom-left-radius: $radius;
    }
  }
}
