@mixin date-styles {
  font-style: italic;
  margin-bottom: 1rem;
  color: var(--grey-3);

  html[data-theme='dark'] & {
    color: var(--grey-5);
  }
}

@mixin pagination-styles {
  border: 1px solid var(--border);
  border-radius: var(--size-xs);
  padding: var(--size-sm);

  html[data-theme='dark'] & {
    &.is-current {
      background: var(--primary);
      color: var(--text);
    }

    &:not(.is-current):hover {
      background: var(--border);
    }
  }

  html[data-theme='light'] & {
    &.is-current {
      background: var(--primary);
      color: var(--white-0);
    }

    &:not(.is-current):hover {
      border-color: var(--text);
    }
  }
}
