/**
 * Base Colors
 */
$my-colors: (
  divider: #ddd,
  primary: #f44336
);

/**
 * https://bulma.io/documentation/customize/variables/
 */
$primary: map-get($my-colors, 'primary');
$link: map-get($my-colors, 'primary');
$desktop: 960px;
$fullhd: 960px;
$family-sans-serif: 'Nunito', sans-serif;
$family-monospace: 'Fira Code', monospace;
