:root {
	--font-family: 'Work Sans', sans-serif;
}

@mixin common-vars {
	--white: #ffffff;
	--black: #000000;
	--primary-light: #ec8f97;
	--primary-main: #db2635;
	--primary-dark: #ac1d28;
	--success-light: #96ea8c;
	--success-main: #6cd66a;
	--success-dark: #2da140;
	--error-light: #ff9b84;
	--error-main: #ff7467;
	--error-dark: #db2635;
	--star: #ffd700;
	--size-1: 4px;
	--size-2: 8px;
	--size-3: 16px;
	--dot-anim-duration: 400s;
	--gradient-primary: linear-gradient(to bottom right, var(--primary-main), var(--primary-dark));
	--max-post-width: 700px;
}

/*=====================================================
	light theme colors
=====================================================*/
@mixin theme-light {
	--body-bg: #ffffff;
	--text-main: #161f38;
	--text-light: #575861;
	--gray-light: #efefef;
	--gray-lighter: #f9f9f9;
	--border: #dadce5;
	--border-light: var(--gray-light);
	--shadow-opacity: 0.2;
	--shadow: 0 10px 10px rgba(0, 0, 0, var(--shadow-opacity));
}

/*=====================================================
	dark theme colors
=====================================================*/
@mixin theme-dark {
	--body-bg: #272935;
	--text-main: #f9f9fa;
	--text-light: #b2b2b3;
	--gray-light: #454854;
	--gray-lighter: #303340;
	--border: #35394b;
	--border-light: var(--gray-light);
	--shadow-opacity: 0.2;
	--shadow: 0 10px 10px rgba(0, 0, 0, var(--shadow-opacity));
}

:root {
	@include common-vars;
	@include theme-light;
}

[data-theme='dark'] {
	@include common-vars;
	@include theme-dark;
}
