@import 'variables.scss';

.home-page {
  .profile-pic {
    text-align: center;
    padding: 48px 0 16px 0;

    .profile-img {
      display: inline-block;
      width: 140px;
      height: 140px;
      margin: 0 auto;
      box-shadow: 0 0 0 6px $color-primary;
      border-radius: 50%;
    }
  }

  .text {
    text-align: center;
    position: relative;
    margin-bottom: 48px;
    text-transform: uppercase;

    h1 {
      font-size: 64px;
      line-height: 1.25;
      margin: 0;
    }

    h2 {
      font-size: 32px;
      line-height: 1.25;
      margin: 0;
    }
  }

  .about {
    padding: 48px 0;
  }

  .blog-heading {
    border-bottom: 1px solid $color-divider;
    padding-bottom: 18px;
  }
}
