@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
@import "normalize.css/normalize.css";
@import "variables.scss";

html {
    box-sizing: border-box;
    height: 100%;
    background-color: $color-primary;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

@page {
    size: A4;
    margin: 0.5in;
}

/** Typography **/

body {
    font: 16px/1.75 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    font-weight: normal;
    flex-direction: column;
    color: $base-font-color;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 34px;
    line-height: 40px;
}

h2 {
    font-size: 28px;
    line-height: 32px;
}

h3 {
    font-size: 22px;
    line-height: 30px
}

h4 {
    font-size: 18px;
    line-height: 22px;
}

h5 {
    font-size: 14px;
    line-height: 18px;
}

h6 {
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    margin: 0 0 16px 0;
    font-weight: bold;
    color: #444;
}

p {
    font-size: 1rem;
    padding-top: 0;
    line-height: 28px;
    margin: 0 0 16px 0;
}

blockquote {
    padding: 0 0 0 30px;
    margin: 30px 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #aaa;
    border-left: solid 10px #eee;
}

a {
    color: $color-primary;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: darken($color-primary, 10%);
        text-decoration: underline;
    }
}

ul, ol {
    margin: 0 0 30px 18px;
    padding: 0;
}

li {
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 0 5px;
}

/** END Typography **/

:global(.container) {
    width: 320px;
    margin: 0 auto;
    transition: width 0.2s ease;

    @media (min-width: $screen-xs) {
        width : 480px;
    }

    @media (min-width: $screen-sm) {
        width : 720px;
    }

    @media (min-width: $screen-md) {
        width : 960px;
    }

    @media (min-width: $screen-lg) {
        width : 1024px;
    }
}

@for $i from 1 through $grid-columns {
    :global(.col-#{$i}-12) {
        width: $i * 100% / $grid-columns;
    }
}

@import "code.scss";
@import "table.scss";
