---
import { getCollection } from 'astro:content';

import Breadcrumbs from '$/components/Breadcrumbs.astro';
import MainLayout from '$/layouts/MainLayout.astro';
import { filterPostsCollection } from '$/utils/helpers';

const blogEntries = await getCollection('posts', filterPostsCollection);

const allTags = [...new Set(blogEntries.flatMap((post) => post.data.tags))].sort();
---

<MainLayout title="Tags" description="List of all the tags">
	<div class="tags-list">
		<Breadcrumbs links={[{ label: 'tags', link: '/tags/' }]} />
		<h1>All tags</h1>
		<ul>
			{
				allTags.map((tag) => (
					<li>
						<a href={`/tags/${tag}/`} set:html={tag} />
					</li>
				))
			}
		</ul>
	</div>
</MainLayout>
<style lang="scss">
	.tags-list {
		a {
			display: block;
			margin-bottom: 1rem;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
</style>
