/**
 * Base Colors
 */
@color-red: #F44336;
@color-pink: #FF4081;
@color-purple: #9C27B0;
@color-deep-purple: #7C4DFF;
@color-indigo: #3F51B5;
@color-blue: #2196F3;
@color-light-blue: #03A9F4;
@color-cyan: #00BCD4;
@color-teal: #009688;
@color-green: #4CAF50;
@color-light-green: #8BC34A;
@color-lime: #CDDC39;
@color-yellow: #FFEB3B;
@color-amber: #FFC107;
@color-orange: #FF9800;
@color-deep-orange: #FF5722;
@color-brown: #795548;
@color-grey: #9E9E9E;
@color-blue-grey: #607D8B;

// Fonts
@base-font-size: 18px;

/*
 * Break-Points
 */
@screen-xs : 30em; // ~480px
@screen-sm : 48em; // ~768px
@screen-md : 64em; // ~1024px
@screen-lg : 80em; // ~1280px;


/**
 * Main colors
 */
@color-primary: @color-red;
@color-white: #ffffff;

/**
 * Main Nav Btn
 */
@nav-btn-color: #333333;
@nav-btn-radius: 50px;
@nav-btn-line-height: 2px;
@nav-burger-width: 0.35 * @nav-btn-radius;
@nav-burger-gutter: 7px;
@nav-animation-time: 0.2s;
