// Fonts
@font-sans: Open Sans, "Helvetica Neue", Verdana, sans-serif;
@font-serif: "Libre Baskerville", georgia, san-serif;
@base-font-size: 16px;

/*
 * Break-Points
 */
@screen-xs : 30em; // ~480px
@screen-sm : 48em; // ~768px
@screen-md : 64em; // ~1024px
@screen-lg : 80em; // ~1280px;


/**
 * Main colors
 */
@color-primary: #E53935;
//@color-primary: #D32F2F;
//@color-primary: #c62828;
@color-white: #ffffff;

/**
 * Main Nav Btn
 */
@nav-btn-radius: 50px;
@nav-btn-line-height: 2px;
@nav-burger-width: 0.40 * @nav-btn-radius;
@nav-burger-gutter: 10px;
