---
import site from 'data/site.json';
import MainLayout from 'layouts/MainLayout.astro';
import myPic from 'img/mypic.png';
import { sortPostsByRecency } from 'utils/posts-helpers';
import { PostFrontMatter } from 'utils/types';
import ArticlePreview from 'components/ArticlePreview.astro';

const allPosts = await Astro.glob<PostFrontMatter>('../posts/**/*.md');
const sortedPosts = sortPostsByRecency(allPosts).slice(0, 5);
---

<MainLayout>
	<div class="container home-page">
		<figure class="image">
			<img src={myPic} alt="profile-pic" />
		</figure>
		<section class="intro content">
			<h1 class="title">Vivek Kumar Bansal</h1>
			<h2 class="subtitle">
				I <span class="has-text-primary">❤</span> building things using web technologies.
			</h2>
		</section>
		<section class="about content">
			<h3>About</h3>
			<p>
				I'm currently working as a Principal Software Enginner (UI) at <a
					href="https://harness.io"
					target="_blank"
					>Harness R&D Labs India Pvt. Ltd., Bengaluru
				</a>. I enjoy exploring and learning new tech. I'm a huge car nerd and Formula 1 fan.
			</p>
			<p>
				<strong>I <span class="red">❤</span> Open Source</strong> and actively contribute on <a
					href={site.social.github.link}
					target="_blank"
					>{site.social.github.name}
				</a>.
			</p>
		</section>
		<section class="recent-posts content">
			<h3 class="blog-heading">Latest from Blog</h3>
			{sortedPosts.map((post) => {
				return <ArticlePreview post={post} />;
			})}
		</section>
	</div>
</MainLayout>
