---

---

<!-- https://survivejs.com/blog/illuminate-interview/
	<div class='container content resume'>
	layout: main
	carrer_start: 2013-07-01
  <h1>Vivek Kumar Bansal</h1>
  <p>
      I’m an JavaScript/TypeScript developer with {{ carrer_start | formatDateDistanceFromNow }} of
      experience in building applications using web technologies.
  </p>
  <p>
      I’m an active proponent of TypeScript. I love building application agnostic plugins/components.
      I also like working on backend server using PHP and NodeJS.
  </p>
  <h2 id="work-experience">Work Experience</h2>
  <h3>Harness R&amp;D Labs India Pvt. Ltd. Bengaluru, India.</h3>
  <p>
      <span>Staff Software Engineer (UI)</span>
      <span>May 2019 – present</span>
  </p>
  <h3>Flipkart Internet Pvt. Ltd. Bengaluru, India.</h3>
  <p>
      <span>UI Engineer II</span>
      <span>July 2017 – May 2019</span>
  </p>
  <p>
      <span>UI Engineer</span>
      <span>June 2016 – June 2017</span>
  </p>
  <ul>
      <li>Worked on the desktop & mobile sites of Flipkart.com</li>
      <li>Technology evangelist for web platform</li>
  </ul>
  <h3>Helical IT Solutions Pvt. Ltd., Hyderabad, India.</h3>
  <p>
    <span>Lead Frontend Developer</span>
    <span>Mar 2014 – May 2016</span>
  </p>
  <ul>
    <li>
        Built the company product (a data analysis tool) from scratch using <code>Backbone.js</code> and <code>React.js</code>.
    </li>
    <li>Promoted to lead developer within 6 months.</li>
  </ul>
  <h3>Freelance Frontend Web Developer, Hyderabad, India.</h3>
  <p>
      <span>Freelance</span>
      <span>Aug 2013 - March 2014</span>
  </p>
  <ul>
      <li>Worked with people from around the world.</li>
      <li>Developed websites/applications based on the customer requirement.</li>
  </ul>
        <h3 id="technical-skills">Technical Skills</h3>
        <div>
            <ul>
                <li>JavaScript/TypeScript</li>
            </ul>
            {
                // ### Technical Skills
                // **JavaScript:**
                //   - Building applications/components using **React.js**.
                //   - Testing with **Jest**, **Jasmine**, **Mocha/Chai** and **Karma**.
                //   - Build tools like **Gulp** and **Webpack**.
                //   - Strong Typing with
                // **HTML5 and CSS3:**
                //   - Experience with frameworks like **Bootstrap** and **Foundation**
                //   - Knowledge of **Responsive web design** with exposure to **mobile first development**
                // **PHP:**
                //  - Experience with frameworks like **Laravel/Lumen** and **Slim**.
                //  - Knowledge of **Test Driven Development** with exposure to **PHPUnit** and **PHPSpec**.
                // **Others:**
                //  - Version control: **Git**.
                //  - Familiar with databases like **MySQL**, **SQLite** and **MongoDB**.
                //  - Familiar with **Apache** and **Nginx** servers and **\*nix** environments.
                //  - Can work on any OS: **Windows**, **Mac OS X** and **Ubuntu**.
            }
        </div>
    </section>
    <div />
        <h2 id="education">Education</h2>
        <div>
            <h4>Indian Institute of Technology, Indore (IIT Indore), India.</h4>
            <p>
                <span>
                    Bachelor of Technology (B. Tech) in Mechanical Engineering.
                </span>
                <span>2009 - 2013</span>
            </p>
        </div>
        <h2 id="certifications">Certifications</h2>
        <div>
            <h3>Machine Learning (Coursera)</h3>
            <p>
                Instructor: Andrew Ng. <br /> License: UXKQ8Z78PYU2
            </p>
        </div>
</div>

    // ### Open source and community
    // I’m an active participant on GitHub.

    // **Major Contributions:**
    //   - **Prism.js (Syntax Highlighter)**
    //     - Provided definitions JSX (React) and TypeScript.
    //     - Provided 'highlight-keywords' plugin.

    //   - **Node Notifier (by @mikaelbr)**
    //     - Added support for Windows 8+ Toast Notifications.
    //     - Released in v3.2.0.

    // **My projects:**
    //   - **React Context-menu (JS):** Context menu implemented in React.
    //   - **Illuminate (JS):** A syntax highlighter based on prism.js ported for NodeJS and React.
    //   - **Gulp Group Files (JS):** A gulp plugin for grouping files via an object for further processing.
    //   - **Gulp Edit XML (JS):** A gulp plugin for editing xml files, especially SVG files.
    //   - **Front-Matter (PHP):** Allows page-specific variables to be included at the top of a template using the YAML, JSON or INI format.
    // `;
} -->
