---
import MainLayout from 'layouts/MainLayout.astro';
// layout: main
// carrer_start: 2013-07-01
---

<!-- https://survivejs.com/blog/illuminate-interview/  -->
<MainLayout title="Resume" description="Resume">
	<div class="container content resume">
		<h1>Vivek Kumar Bansal</h1>
		<p>Website: https://vkbansal.me</p>
		<p>Github: https://github.com/vkbansal</p>
		<p>LinkedIn: https://www.linkedin.com/in/vkbansal03/</p>
		<p>
			I’m an JavaScript/TypeScript developer with 10 years of experience in building applications
			using web technologies.
		</p>
		<p>
			I’m an active proponent of TypeScript. I love building application agnostic
			plugins/components. I also like working on backend server using PHP and NodeJS.
		</p>
		<h2 id="work-experience">Work Experience</h2>
		<h3>Harness R&amp;D Labs India Pvt. Ltd. Bengaluru, India.</h3>
		<p>
			<span>Principal Software Engineer (UI)</span>
			<span>April 2021 – present</span>
		</p>
		<p>
			<span>Staff Software Engineer (UI)</span>
			<span>May 2019 – April 2021</span>
		</p>
		<ul>
			<li>Worked on the main product of Harness (Continuous Delivery and Platform)</li>
			<li>Team lead for Pipeline Framework Team</li>
			<li>Technology evangelist for web platform</li>
			<li>Resident TypeScript expert</li>
			<li>Creator/Maintainer of OATS CLI (https://github.com/harness/oats)</li>
		</ul>
		<h3>Flipkart Internet Pvt. Ltd. Bengaluru, India.</h3>
		<p>
			<span>UI Engineer II</span>
			<span>July 2017 – May 2019</span>
		</p>
		<p>
			<span>UI Engineer</span>
			<span>June 2016 – June 2017</span>
		</p>
		<ul>
			<li>Worked on the desktop & mobile sites of Flipkart.com</li>
			<li>Technology evangelist for web platform</li>
		</ul>
		<h3>Helical IT Solutions Pvt. Ltd., Hyderabad, India.</h3>
		<p>
			<span>Lead Frontend Developer</span>
			<span>Mar 2014 – May 2016</span>
		</p>
		<ul>
			<li>
				Built the company product (a data analysis tool) from scratch using <code>Backbone.js</code>
				and
				<code>React.js</code>.
			</li>
			<li>Promoted to lead developer within 6 months.</li>
		</ul>
		<h3>Freelance Frontend Web Developer, Hyderabad, India.</h3>
		<p>
			<span>Freelance</span>
			<span>Aug 2013 - March 2014</span>
		</p>
		<ul>
			<li>Worked with people from around the world.</li>
			<li>Developed websites/applications based on the customer requirement.</li>
		</ul>
		<h3 id="technical-skills">Technical Skills</h3>
		<div>
			<ul>
				<li>
					<div>JavaScript/TypeScript</div>
					<ul>
						<li>Building applications/components using React.js</li>
						<li>Testing with Jest, Vitest, and Cypress</li>
						<li>Build tools like Gulp, Webpack, Vite, ESBuild, SWC, Astro</li>
						<li>Strong Typing with TypeScript</li>
					</ul>
				</li>
				<li>
					<div>Other Tools/Technologies</div>
					<ul>
						<li>Source Control: Git</li>
						<li>Databases: MongoDB, MySQL/MariaDB, SQLite</li>
						<li>APIs: OpenAPI, GraphQL</li>
						<li>Servers: Nginx</li>
					</ul>
				</li>
			</ul>
		</div>
		<div></div>
		<h2 id="education">Education</h2>
		<div>
			<h4>Indian Institute of Technology, Indore (IIT Indore), India.</h4>
			<p>
				<span> Bachelor of Technology (B. Tech) in Mechanical Engineering.</span>
				<span>2009 - 2013</span>
			</p>
		</div>
		<h2 id="certifications">Certifications</h2>
		<div>
			<h3>Machine Learning (Coursera)</h3>
			<p>
				Instructor: Andrew Ng. <br /> License: UXKQ8Z78PYU2
			</p>
		</div>
	</div>
	<h2 id="education">Open source and community</h2>
	<p>I’m an active participant on GitHub</p>
	<ul>
		<li>Prism.js (Syntax Highlighter) - Provided definitions JSX (React) and TypeScript</li>
		<li>React Context-Menu - Context menu implemented in React</li>
		<li>Gulp Group Files - A gulp plugin for grouping files via an object for further processin</li>
		<li>Gulp Edit XML - A gulp plugin for editing xml files, especially SVG files</li>
		<li>@harnessio/oats-cli - An CLI tool to convert an OpenAPI spec to TypeScript code</li>
		<li>Featured on survivejs: https://survivejs.com/blog/illuminate-interview/</li>
		<li>Speaker @ React Day Banglore 2021: https://vkbansal.me/blog/react-day-bangalore-2021/</li>
	</ul>
</MainLayout>
