{% if ajax == true %}
    {% extends "_layouts/ajax.html" %}
{% else %}
    {% extends "_layouts/page.html" %}
{% endif %}

{% block title %}About | {% endblock %}
{% set active = "About" %}
{% block content %}
<div class="container">
            {#<figure class="img-right">#}
                {#<img src="images/VKB.jpg" alt="Vivek Kumar Bansal">#}
            {#</figure>#}

    <h2>About Me</h2>
    <figure class="vkb">
        <img src="/images/VKB.jpg" alt="VKB"/>
    </figure>
    <p  class="clearfix">I am Vivek Kumar Bansal, a frontend developer and designer, based in <em>Hyderabad, India.</em> I enjoy exploring and learning new technologies. I’m an active proponent of Modern JavaScript, CSS3 and HTML5. <strong>I <span class="color-primary">&#10084;</span> Open Source</strong> and actively contribute on <a href="{{ data.social.github.link }}" target="_blank">GitHub</a>. Currently, I serve as a full-time front-end developer at <a href="http://helicaltech.com" target="_blank">Helical IT solutions, Hyderabad</a>. I also work on freelance projects from time to time. I began freelancing in August 2013 and have been since working closely with companies and individuals on variety of projects. And when I'm not developing or learning, I like to unwind by listening music and playing PC games.</p>

    <h2>My Work</h2>
    <p>You can have a glance at my work using the links below or have a look at <a href="/about/resume/">my resume</a>.</p>
    <ul class="work-list">
        <li>
            <a href="{{ data.social.github.link }}" class="github" title="{{ data.social.github.name }}" target="_blank">
                <svg class="icon">
                      <use xlink:href="#navicon-github" />
                  </svg>
            </a>
        </li>
        <li>
            <a href="{{ data.social.npm.link }}" class="npm" title="{{ data.social.npm.name }}" target="_blank">
                <svg class="icon">
                      <use xlink:href="#navicon-npm" />
                  </svg>
            </a>
        </li>
        <li>
            <a href="{{ data.social.behance.link }}" class="behance" title="{{ data.social.behance.name }}" target="_blank">
                <svg class="icon">
                      <use xlink:href="#navicon-behance" />
                  </svg>
            </a>
        </li>
        <li>
            <a href="{{ data.social.codepen.link }}" class="codepen" title="{{ data.social.codepen.name }}" target="_blank">
                <svg class="icon">
                      <use xlink:href="#navicon-codepen" />
                  </svg>
            </a>
        </li>
    </ul>
    {# <div class="skills">
        <svg viewBox="0 0 600 600">
            <path d="M 300,300 L 300,0 A 300,300 0 0,1 585.317,392.705 Z" fill="#FABA2C"></path>
            <path d="M 300,300 L 585.317,392.705 A 300,300 0 0,1 392.705,585.317 Z" fill="#EB4A4A"></path>
            <path d="M 300,300 L 392.705,585.317 A 300,300 0 1,1 300,0 Z" fill="#44b29d"></path>
            <text x="30" y="300" textLength="240" style="text-anchor: start; font-size: 24px" fill="#ffffff">Frontend Development</text>
            <text x="350" y="220" textLength="180" style="text-anchor: start; font-size: 24px" fill="#ffffff">Frontend Design</text>
            <text x="390" y="430" textLength="96" style="text-anchor: start; font-size: 24px"  fill="#ffffff">Backend</text>
        </svg>
    </div> #}
</div>
{% endblock %}
