{% if ajax == true %}
    {% extends "_layouts/ajax.html" %}
{% else %}
    {% extends "_layouts/page.html" %}
{% endif %}

{% block title %}Resume | {% endblock %}
{% set active = "Resume" %}
{% block content %}
<div class="container resume-wrapper">
    <section id="intro">
        <h1 class="title">Vivek Kumar Bansal</h1>
        <h2 class="subtitle">Frontend-Developer</h2>
        <ul class="profile-links">
            <li>
                <a href="mailto:{{ site.author.email }}">
                    <svg class="icon email">
                        <use xlink:href="#navicon-email" />
                    </svg>
                    <span class="link-name">Email</span>
                    <span class="link-url">{{ site.author.email }}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="icon">
                        <use xlink:href="#navicon-mobile" />
                    </svg>
                    <span class="link-name">Mobile</span>
                    <span class="link-url">+91-9676635890</span>
                </a>
            </li>
            <li>
                <a href="{{ site.base_url }}">
                    <svg class="icon link">
                        <use xlink:href="#navicon-link" />
                    </svg>
                    <span class="link-name">Website</span>
                    <span class="link-url">
                        {{ site.base_url|replace("https://", "")|replace("/", "") }}
                    </span>
                </a>
            </li>
            <li>
                <a href="{{ data.social.github.link }}">
                    <svg class="icon">
                        <use xlink:href="#navicon-github" />
                    </svg>
                    <span class="link-name">Github</span>
                    <span class="link-url">{{ data.social.github.link|replace("https://", "") }}</span>
                </a>
            </li>
            <li>
                <a href="{{ data.social.twitter.link }}">
                    <svg class="icon">
                        <use xlink:href="#navicon-twitter" />
                    </svg>
                    <span class="link-name">Twitter</span>
                    <span class="link-url">@{{ data.social.twitter.username }}</span>
                </a>
            </li>
        </ul>
    </section>
    <section id="profile">
        <h3>Profile</h3>
        <p>I’m a frontend developer with about two years of experience in building applications with Backbone.js and React.js Frameworks.</p>

        <p>I’m an active proponent of Modern JavaScript, CSS3 and HTML5. I love building application agnostic plugins/components using aforementioned technologies. I also like working on backend server using PHP and NodeJS.</p>

        <p>My personal development projects include an application agnostic right-click menu (context menu) using React.js and Flux architecture; and a syntax highlighter for NodeJS.</p>
    </section>
    <section id="work-experience">
        <h3>Work Experience</h3>
        <p>
            <b>Lead Frontend Developer</b>
            <span class="right">Mar 2014 – Present</span>
            <br>
            Helical IT Solutions Pvt. Ltd.
        </p>
        <ul>
            <li><p>Developed company product (a data analysis tool) using Backbone.js.</p></li>
            <li><p>Ported the same product to React.js.</p></li>
            <li><p>Promoted to lead developer within 6 months.</p></li>
        </ul>
        <p>
            <b>Freelance Frontend Web Developer</b>
            <span class="right">Aug 2013 - Present</span>
            <br>
            http://vkbansal.me/
        </p>
        <ul>
            <li><p>Worked with people from around the world.</p></li>
            <li><p>Developed websites/applications based on the customer
            requirement.</p></li>
        </ul>
    </section>
    <section id="education">
        <h3>Education</h3>
        <p>
            <b>Indian Institute of Technology Indore (IIT Indore)</b>
            <span class="right">2013</span>
            <br>
            Bachelor of Technology (B. Tech) in Mechanical Engineering, GPA: 6.44.
        </p>
        <p>
            <b>Sri Chaitanya Junior College, Hyderabad</b>
            <span class="right">2009</span>
            <br>
            Class XII: 88.1%, Board of Intermediate Education, Andhra Pradesh, India
        </p>
    </section>
    <section id="technical-skills">
        <h3>Technical Skills</h3>
        <p><b>JavaScript:</b></p>
        <ul>
            <li><p>Building applications/components using <b>Backbone.js</b> and <b>React.js</b>.</p></li>
            <li><p>Testing with <b>Jasmine</b>, <b>Mocha/Chai</b> and <b>Karma</b>.</p></li>
            <li><p>Plugin creation using <b>jQuery</b>.</p></li>
            <li><p>Build tools like <b>Gulp</b> and <b>Webpack</b>.</p></li>
        </ul>
        <p><b>HTML5 and CSS3:</b></p>
        <ul>
            <li><p>Experience with frameworks like <b>Bootstrap</b> and <b>Foundation</b>.</p></li>
            <li><p>Knowledge of <b>Responsive web design</b> with exposure to <b>mobile first development</b>.</p></li>
        </ul>
        <p><b>PHP:</b></p>
        <ul>
            <li><p>Experience with frameworks like <b>Laravel\Lumen</b> and <b>Slim</b>.</p></li>
            <li><p>Knowledge of <b>Test Driven Development</b> with exposure to <b>PHPUnit</b> and <b>PHPSpec</b>.</p></li>
        </ul>
        <p><b>Others:</b></p>
        <ul>
            <li><p>Version control: <b>Git</b>.</p></li>
            <li><p>Pretty good with <b>Photoshop</b> and <b>Illustrator</b>.</p></li>
            <li><p>Familiar with databases like <b>MySQL</b> and <b>SQLite</b>.</p></li>
            <li><p>Familiar with <b>Apache</b> and <b>Nginx</b> servers and <b>*nix</b> environments.</p></li>
            <li><p>Can work on any OS: <b>Windows</b>, <b>Mac OS X</b> and <b>Ubuntu</b>.</p></li>
        </ul>
    </section>
    <section id="open-source-and-community">
        <h3>Open source and community</h3>
        <p>I’m an active participant on GitHub. I maintain ES5 Examples for ReactDnD and provide active feedback on development of NVM for Windows.</p>
        <p><b>Major Contributions:</b></p>
        <ul>
            <li>
                <p><b>Prism.js (Syntax Highlighter)</b></p>
                <ul>
                    <li><p>Provided definitions JSX (React) and TypeScript.</p></li>
                    <li><p>Provided `highlight-keywords` plugin.</p></li>
                </ul>
            </li>
            <li>
                <p><b>Node Notifier (by @mikaelbr)</b></p>
                <ul>
                    <li><p>Added support for Windows 8+ Toast Notifications.</p></li>
                    <li><p>Released in v3.2.0.</p></li>
                </ul>
            </li>
        </ul>
        <p><b>My projects:</b></p>
        <ul>
            <li><p><b>React Context-menu (JS):</b> Context menu implemented in React.</p></li>
            <li><p><b>Illuminate (JS):</b> A syntax highlighter based on prism.js ported for NodeJS and React.</p></li>
            <li><p><b>Gulp Group Files (JS):</b> A gulp plugin for grouping files via an object for further processing.</p></li>
            <li><p><b>Gulp Edit XML (JS):</b> A gulp plugin for editing xml files, especially SVG files.</p></li>
            <li><p><b>Front-Matter (PHP):</b> Allows page-specific variables to be included at the top of a template using the YAML, JSON or INI format.</p></li>
        </ul>
    </section>
</div>
{% endblock %}
