@import 'variables.scss';

.header {
    margin: 8px 0 24px 0;
    box-shadow: 0 -4px $color-primary, 0 -8px #333;

    .container {
        display: flex;
        padding: 25px 0;
        border-bottom: 1px solid #dddddd;
    }

    .logo {
        line-height: 1;
        display: block;
        padding: 0 15px;
        cursor: pointer;
    }

    .logo-img {
        height: 30px;
    }

    .nav-menu {
        list-style-type: none;
        display: inline-flex;
        position: relative;
        padding: 0;
        margin: 0 0 0 auto;
        height: 0;
        z-index: inherit;
        // transition: all @nav-animation-time;

        .link-container {
            display: inline-block;
        }

        .link {
            display: inline-flex;
            position: relative;
            text-decoration: none;
            color: #333;
            font-family: 'Roboto', Arial, 'san-serif';
            line-height: 30px;
            cursor: pointer;
            // transition: all @nav-animation-time;
            padding: 0 15px;

            &:hover {
                color: $color-primary;
            }

            &.active {
                color: $color-primary;
                font-weight: bold;
            }
        }
    }

    @media print {
        display: none;
    }
}
