.work-list {
    list-style-type: none;
    padding: 0;
    display: flex;

    li {
        margin: 0 auto;
    }

    a {
        display: block;
        padding: 25px;
        width: 180px;
        height: 180px;
        transition: all 0.4s ease-out;

        &.github:hover {
            background: @brand-github-blue;
        }

        &.behance:hover {
            background: @brand-behance;
        }

        &.codepen:hover {
            background: #333;
        }

        &:hover svg {
            fill: #fff;
        }
    }

    svg {
        height: 100%;
        width: 100%;
        fill: #333;
        transition: all 0.4s ease-out;
    }
}
