.blog-articles {
    .article {
        border-bottom: 1px solid #dddddd;
        padding: 45px 0;

        &:first-child {
            // padding-top: 0;
        }

        &:last-child {
            border-bottom: none;
        }

        .meta {
            margin: 0;
            color: #999999;
            font-style: italic;
        }

        h2 {
            margin: 0;
        }
    }

    a {
        color: #333333;

        &:hover, &:active, &:focus {
            color: #333333;
            text-decoration: none;
        }
    }

    .tags {
        list-style-type: none;
        padding: 0;
        font-size: 0.7rem;

        li {
            display: inline-block;
        }

        a {
            padding: 2px 5px;
            background: @color-primary;
            color: #fff;
            border-radius: 2px;
        }
    }
}

.blog-articles + .pagination {
    margin: 0 0 80px;
}

.applied-tag {
    padding: 2px 5px;
    background: @color-primary;
    color: #fff;
    font-size: 0.7rem;
    border-radius: 2px;

    a {
        color: inherit;
    }
}
