.resume-wrapper {
    .title, .subtitle {
        display: inline-block;
        text-transform: uppercase;
        color: #333;
    }

    .title {
        font-weight: bold;
        margin-right: 1rem;
    }

    a {
        color: #333;
    }

    .subtitle {
        font-size: 1em;

        &:before {
            content: "<";
        }

        &:after {
            content: "/>";
        }
    }

    .profile-links {
        display: flex;
        margin-top: 1.5rem;
        list-style-type: none;
        padding: 0;
        justify-content: space-between;

        li {
            display: block;
        }

        a, a:hover {
            text-decoration: none;
            display: block;
        }


        svg.icon {
            height: 1.375rem;
            width: 1rem;
            fill: #333333;
            vertical-align: middle;
            margin-right: 0.1rem;
        }

        .link-name {
            font-weight: bold;
            text-transform: uppercase;
            vertical-align: top;
        }

        .link-url {
            font-size: 0.85rem;
            display: block;

        }
    }

    h3 {
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 1px solid #333;
        color: #333;
    }

    p {
        line-height: 1.35;
        color: #333;
    }

    ul {
        margin: 1rem auto;
        p, li {
            margin: 0;
        }
    }

    p + ul {
        margin-top: -0.5rem;

        &  p + ul {
            margin-top: 0;
        }
    }

    .right {
        float: right;
    }

    section {
        page-break-inside: avoid;
    }
}

.resume {
    @media print {
        .site-header, .footer {
            display: none;
        }

        .container {
            width: auto !important;
            max-width: 100%;
        }

        .title {
            font-size: 32px !important;
            margin-right: 10px !important;
        }

        .subtitle {
            font-size: 16px !important;
        }

        h3 {
            font-size: 18px !important;
        }

        p {
            font-size: 12px !important;
            line-height: 1.65;
        }

        .icon {
            float: left;
        }

        .link-name {
            font-size: 13px !important;
            line-height: 15px !important;
            display: inline-block;
            vertical-align: top;
            margin-left: 5px
        }

        .link-url {
            font-size: 12px !important;
            line-height: 1;
        }

        svg.icon {
            width: 15px !important;
            height: 15px !important;
        }
    }
}
