code{
    font-family: Monaco, "Ubuntu Mono", monospace;
    background: #eeeeee;
    color: @color-red;
        font-size: 0.875rem;
    padding: 0 0.3rem;
}

pre {
    background: #333;
    padding: 15px;
}


pre > code {
     color: #ffffff;
     background: none;
 }

code {
    .comment {
        color: @OC-04;
    }

    .keyword {
        color: @OC-0E;
    }

    .function {
        color: @OC-0D;
    }

    .string {
        color: @OC-0B;
    }

    .tag {
        color: @OC-08;

        .punctuation {
            color: @color-cyan;
        }

        .attr-name {
            color: @OC-0A;
        }
    }

    .punctuation {
        color: #fff;
    }

    .number {
        color: @OC-09;
    }
}
