<div class="article-preview">
  <div class="date has-text-grey-light">
    {{ post.data.date | formatDate('MMMM do yyyy') }}
  </div>
  <p>
  <a class="has-text-black" href="{{ post.url }}">
    <h3 class="title">{{ post.data.title | safe }}</h3>
    <p >{{ post.data.description | safe }}</p>
    <p class="has-text-primary">Read More...</p>
  </a>
  </p>
  <p>
    {% for tag in post.data.tags %}
    <a href="/tags/{{tag}}" class="tag">{{tag}}</a>
    {% endfor %}
  </p>
</div>
