---
layout: main
---
<div class="container home-page">
  <figure class="image">
    <img  src="{{ '/img/mypic.png' | hash }}" alt="profile-pic" />
  </figure>
  <section class="intro content">
    <h1 class="title">Vivek Kumar Bansal</h1>
    <h2 class="subtitle">I <span class="has-text-primary">❤</span> building things using web technologies.</h2>
  </section>
  <section class="about content">
    <h3>About</h3>
    <p>
      I'm working as a Staff Software Enginner (UI) at <a href="https://harness.io" target="_blank">Harness R&D Labs India Pvt. Ltd., Bengaluru</a>.
      I enjoy exploring and learning new technologies. I’m an active proponent of TypeScript and type-safety.
    </p>
    <p>
      <strong>I <span class="red">❤</span> Open Source</strong> and actively contribute on <a href="{{ site.social.github.link }}" target="_blank">{{ site.social.github.name }}</a>.
    </p>
  </section>
  <section class="recent-posts content">
    <h3 class="blog-heading">Latest from Blog</h3>
    {% for post in collections.posts | _slice(-5) | reverse %}
      {% include "partials/article-preview.njk" %}
    {% endfor %}
  </section>
</div>
