{% extends "_layouts/page.html" %}
{% block title %}Vivek Kumar Bansal, frontend designer and developer{% endblock %}
{% set active = "Home" %}
{% block content %}
<div class="banner intro">
    <div class="container">
        <div class="text">
            <h1>Hello, I'm Vivek.</h1>
            <h2>A frontend web <span id="intro-type">developer<span></h2>
            <div>
                <a class="btn" href="#">View portfolio</a>
                <span class="hidden-xs"> or </span>
                <a class="btn" href="#">Get in touch</a>
            </div>
        </div>
        <figure>
            {% include '_includes/web-design-banner.svg' %}
        </figure>
    </div>
</div>
<div class="home-wrapper">
    <section class="container" id="latest-blog-posts">
        <h2 class="heading">Latest Posts</h2>
        <div class="blog-articles">
        </div>
    </section>
    <section id="recent-projects" class="container center recent-projects">
        <h2 class="heading">Selected work</h2>
        <br>
        {# include "partials/showcase-tile.twig" #}
    </section>

    <section id="services" class="container center services">
        <h2 class="heading">Here's how I can help</h2>
        <ul class="services-list">
            <li>
                <figure class="design">
                    <figcaption>
                        <h3>Design</h3>
                        <p>Beautiful websites with a friendly UI and Great UX, No clutter.</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="development">
                    <figcaption>
                        <h3>Development</h3>
                        <p>Cutting-edge techonology and best practices, done fast. Really fast.</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="consulting">
                    <figcaption>
                        <h3>Consulting</h3>
                        <p>Just get what you need for your fledgling venture.</p>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </section>

    <section class="container center testimonials">
        <h2 class="heading">What my clients say about me</h2>
        <div id="testimonials" class="slider">
            <ul class="slides">
                {%  for testimonial in testimonials %}
                <li class="slides__item">
                    <p class="slides__header">{{ testimonial.words }}</p>
                    <p class="slides__footer">
                        <span>{{ testimonial.client.name }}</span>
                        <span>{{ testimonial.client.company }}</span>
                    </p>
                </li>
                {% endfor %}
            </ul>
            <ul class="slides--pagination">
                {#for i in 1..3 }
                <li class="slides__page"><a href="#" data-slide="{{ i }}"></a></li>
                {% endfor #}
            </ul>
        </div>
    </section>
</div>
{% endblock %}
