{% if ajax == true %}
    {% extends "_layouts/ajax.html" %}
{% else %}
    {% extends "_layouts/page.html" %}
{% endif %}

{% block title %}Vivek Kumar Bansal, frontend designer and developer{% endblock %}
{% set active = "Home" %}
{% block content %}
<div class="banner intro">
    <div class="container">
        <div class="text">
            <h1>Hello, I'm Vivek.</h1>
            <h2>A frontend web <span id="intro-type">developer<span></h2>
            {# <div>
                <a class="btn" href="#">View portfolio</a>
                <span class="hidden-xs"> or </span>
                <a class="btn" href="#">Get in touch</a>
            </div> #}
        </div>
        <figure>
            {% include '_includes/web-design-banner.svg' %}
        </figure>
    </div>
</div>
<div class="home-wrapper">
    <section class="container" id="latest-blog-posts">
        <h2 class="heading">Latest Posts</h2>
        <div class="blog-articles">
        </div>
    </section>
</div>
{% endblock %}
