{% extends "_layouts/page.html" %}
{% block title %}Vivek Kumar Bansal, frontend designer and developer{% endblock %}
{% block body_class %}home{% endblock %}
{% block content %}
<div class="intro">
    <div class="container">
        <h1>Hello, I'm Vivek.</h1>
        <h2>A frontend web <span id="intro-type">developer<span></h2>
        <p><a class="button" href="#">View portfolio</a><span class="hidden-xs"> or </span><a class="button" href="#">Get in touch</a></p>
        <figure>
            {% include '_includes/wall.svg' %}
        </figure>
    </div>
</div>
<div class="home-wrapper">
    <section id="recent-projects" class="container center recent-projects">
        <h2 class="heading">Selected work</h2>
        <br>
        {# include "partials/showcase-tile.twig" #}
    </section>

    <section id="services" class="container center services">
        <h2 class="heading">Here's how I can help</h2>
        <ul class="services-list">
            <li>
                <figure class="design">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" enable-background="new 0 0 24.715 23.305" xml:space="preserve">
                        <circle fill="#253036" cx="12.5" cy="12.5" r="12.5" />
                        <g transform="scale(0.7) translate(5.5,6.5)">
                            <path fill="#EB4A4A" d="M7.1,14.6c1-0.7,2.5-1.9,4.3-3.6c-0.3-0.2-0.7-0.4-1-0.8c-0.4-0.3-0.6-0.7-0.8-1c-1.5,1.8-2.7,3.3-3.3,4.4c-0.2,0-2.1,0-3.3,1.4c-1.4,1.4-1.3,4.9-1.3,4.9s0.9-1.4,2.5-1.7C6,17.7,6.8,16.5,7.1,14.6z"/>
                            <path fill="#EB4A4A" d="M9.8,8.9c0.2,0.3,1.4,1.7,1.9,1.8c2-1.9,4.4-4.3,4.8-4.8c0.4-0.4,5-5,3.7-5.8c-1.4-0.9-5,2.9-5.8,3.6S13.5,4.7,9.8,8.9z"/>
                            <polygon fill="#EB4A4A" points="5.2,23.2 5.3,23.3 10,20.9 7.5,18.5"/>
                            <path fill="#EB4A4A" d="M23,6.5l-1.7-1.6c-0.2-0.2-0.7-0.1-1,0.2l-1.9,2L21,9.5l1.9-2C23.2,7.2,23.2,6.7,23,6.5z"/>
                            <polygon fill="#EB4A4A" points="8,17.9 10.6,20.3 20.5,10 18,7.6"/>
                        </g>
                    </svg>
                    <figcaption>
                        <h3>Design</h3>
                        <p>Beautiful websites with a friendly UI and Great UX, No clutter.</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="development">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <circle fill="#253036" cx="11" cy="11" r="11" />
                        <path fill="#44B29D" d="m8.632,14.05l-5.782-2.515v-1.392l5.782-2.503v1.64l-4.029,1.543 4.029,1.602v1.625z"/>
                        <path fill="#44B29D" d="M9.168,15.155l2.093-8.718h1.212l-2.116,8.718H9.168z"/>
                        <path fill="#44B29D" d="m13.001,14.05v-1.625l4.037-1.593-4.037-1.574v-1.617l5.788,2.505v1.38l-5.788,2.524z"/>
                    </svg>
                    <figcaption>
                        <h3>Development</h3>
                        <p>Cutting-edge techonology and best practices, done fast. Really fast.</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="consulting">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" xml:space="preserve">
                        <circle fill="#253036" cx="32" cy="32" r="32" />
                        <g transform="scale(0.7) translate(16,14)">
                            <path fill="#FABA2C" d="M9.96,53.135c0.175,0.645,0.591,1.182,1.17,1.513l5.666,3.242c0.391,0.224,0.816,0.33,1.237,0.33
                                c0.868,0,1.713-0.452,2.174-1.258l9.58-16.743c1.106,0.214,2.233,0.326,3.364,0.326c6.388,0,12.325-3.441,15.494-8.979
                                c2.366-4.135,2.98-8.943,1.729-13.54c-1.251-4.597-4.217-8.431-8.351-10.796c-2.696-1.543-5.753-2.358-8.842-2.358
                                c-6.388,0-12.324,3.441-15.494,8.979c-3.881,6.783-2.787,15.059,2.103,20.627l-9.588,16.757C9.87,51.816,9.784,52.491,9.96,53.135z
                                 M25.177,42.236l-4.798-2.745l1.649-2.882c0.713,0.571,1.463,1.11,2.281,1.578c0.806,0.461,1.648,0.849,2.51,1.178L25.177,42.236z
                                 M20.291,15.342c2.637-4.607,7.576-7.47,12.89-7.47c2.567,0,5.109,0.678,7.351,1.961c3.44,1.968,5.906,5.157,6.947,8.98
                                c1.04,3.823,0.53,7.823-1.438,11.262c-2.636,4.607-7.576,7.47-12.89,7.47c-2.567,0-5.109-0.678-7.352-1.961
                                C18.7,31.522,16.229,22.441,20.291,15.342z M18.89,42.095l4.798,2.745l-5.835,10.199l-4.798-2.745L18.89,42.095z"/>
                        </g>
                    </svg>
                    <figcaption>
                        <h3>Consulting</h3>
                        <p>Just get what you need for your fledgling venture.</p>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </section>

    <section class="container center testimonials">
        <h2 class="heading">What my clients say about me</h2>
        <div id="testimonials" class="slider">
            <ul class="slides">
                {%  for testimonial in testimonials %}
                <li class="slides__item">
                    <p class="slides__header">{{ testimonial.words }}</p>
                    <p class="slides__footer">
                        <span>{{ testimonial.client.name }}</span>
                        <span>{{ testimonial.client.company }}</span>
                    </p>
                </li>
                {% endfor %}
            </ul>
            <ul class="slides--pagination">
                {#for i in 1..3 }
                <li class="slides__page"><a href="#" data-slide="{{ i }}"></a></li>
                {% endfor #}
            </ul>
        </div>
    </section>
</div>
{% endblock %}
