{% extends "layouts/page.twig" %}
{% block title %}Project Planner | {% endblock %}
{% block body_class %}project-planner{% endblock %}
{% set template = 'project-planner' %}
{% block content %}
<div class="container">
    <section class="banner">
        <h1 class="project-planner-heading">Project Planner</h1>
        <p>Project planner helps me to understand the project better.<br>Once you have submitted it, I will get back to you within 1-2 Business days.</p>
    </section>
    <section id="planner" class="planner__section">
        <div class="drag-handle"></div>
        <form method="POST" action="{{ urlFor('project-planner') }}" id="project-planner">
            <div class="planner__group">
                <p>
                    <label for="name" class="required">Name</label>
                     <span><input type="text" name="name" id="name" value="" placeholder="John Doe"></span>
                </p>
                <p>
                    <label for="email" class="required">Email</label>
                     <span><input type="email" name="email" id="email" value="" placeholder="johndoe@example.com"></span>
                </p>
            </div>
            <div class="planner__group">
                <p>
                    <label for="website">Website</label>
                     <span><input type="text" name="website" id="website" placeholder="http://example.com" value=""></span>
                </p>
                <p>
                    <label for="phone">Phone</label>
                     <span><input type="tel" name="phone" id="phone" value="" placeholder="+91-9876543210"></span>
                </p>
            </div>
            <div class="planner__group">
                <p>
                    <label for="preferred">Preferred method of contact?</label>
                     <span><label><input type="radio" name="contact_method" value="email" checked>  E-mail</label>
                    <label><input type="radio" name="contact_method" value="phone">  Phone</label></span>
                </p>
                <p>
                    <label for="services" class="required">Services required?</label>
                    <span>
                    <label><input type="checkbox" name="services[]" value="design">  Website design</label>
                    <label><input type="checkbox" name="services[]" value="frontend">  Front-end development</label>
                    <label><input type="checkbox" name="services[]" value="backend">  Back-end Development </label></span>
                </p>
            </div>
            <div class="planner__group">
                <p>
                    <label for="budget" class="required">What is your budget?</label>
                    <span class="subtitle">
                        A rough estimate to gauge the size and commitment of the project
                    </span>
                    <span>
                    <select name="budget" id="budget">
                        <option value="1">{{ "< ₹5,000"|e('html') }}</option>
                        <option value="2">{{ "₹5,000 - ₹10,000"|e }}</option>
                        <option value="3" selected>{{"₹10,000 - ₹25,000"|e}}</option>
                        <option value="4">{{"₹5,000 - ₹10,000"|e}}</option>
                        <option value="5">{{"₹50,000 +"|e}}</option>
                    </select>
                    </span>
                </p>
                <p>
                    <label for="timeframe">What is the timeframe for the project?</label>
                    <span class="subtitle">
                        How soon do you want the project to be completed?
                    </span>
                    <span><input type="text" name="timeframe" id="name" value="" placeholder="Around a week"></span>
                </p>
            </div>
            <div class="planner__group">
                <p>
                    <label for="about_business" class="required">Who are you?</label>
                    <span class="subtitle">
                        What is name of your business? Who is your target audience and primary competition?
                    </span>

                    <span><textarea name="about_you" id="about_you"></textarea></span>
                </p>
                <p>
                    <label for="about_project" class="required">Tell me something about the project</label>
                    <span class="subtitle">
                        Do you have any ideas or inspirations? What are your objectives and goals?
                    </span>

                    <span><textarea name="about_project" id="about_project"></textarea></span>
                </p>
            </div>
            <p class="honeypot">
                <label for="honeypot" class="honeypot">Do not fill this field</label>
                <input type="text" name="honeypot" value="" class="honeypot input" placeholder="Leave Blank">
            </p>
            <p class="center">
                <input type="submit" name="submit" value="submit" class="button">
            </p>
        </form>
    </section>
    {% include 'partials/ajax-form-status.twig'  %}
</div>
{% endblock %}