{% extends "_layouts/page.html" %}
{% block title %}My Work | {% endblock %}
{% set active = "Work" %}
{% block content %}
<div class="container">
    <div class="banner">
        <h1>I design brilliant stuff</h1>
        <p><a href="https://www.behance.net/vkbansal" class="button">Full profile on <span class="icon--behance"></span></a></p>
    </div>
    <div class="my-work center">
        <br>
        <h2>My work</h2>
        <br>
        {# include "partials/showcase-tile.twig" #}
        <br><br><br>
    </div>
    <div class="center my-clients">
        <br>
        <h2 class="heading">My clients</h2>
        <ul class="clients">
            {% for client in clients %}
            <li>
                <a href="{{ client.link }}" target="_blank">
                    <img src="{{ client.image }}" alt="{{ client.title }}">
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
