---
import type { CollectionEntry } from 'astro:content';

import type { Page } from 'astro';

import ArticlePreview from 'components/ArticlePreview.astro';
import Breadcrumbs from 'components/Breadcrumbs.astro';
import Pagination from 'components/Pagination.astro';

import MainLayout from './MainLayout.astro';

export interface Props {
	page: Page<CollectionEntry<'posts'>>;
}

const { page } = Astro.props;
const { lastPage: totalPages, currentPage } = page;
---

<MainLayout title="Blog" description="Blog Posts">
	<div class="blog-list">
		<Breadcrumbs links={[{ label: 'Blog', link: '/blog/' }]} />
		{
			page.data.map((post) => {
				return <ArticlePreview post={post} />;
			})
		}
		<Pagination
			totalPages={totalPages}
			currentPage={currentPage}
			getLink={(n: number): string => (n >= 2 ? `/blog/page/${n}/` : `/blog/`)}
		/>
	</div>
</MainLayout>

<style lang="scss">
	.blog-list {
		max-width: var(--max-post-width);
		margin: 0 auto;
	}
</style>
