---
import type { Page } from 'astro';
import { Debug } from 'astro/components';
import ArticlePreview from 'components/ArticlePreview.astro';
import type { MyPostInstance } from 'utils/types';
import MainLayout from './MainLayout.astro';

export interface Props {
	page: Page<MyPostInstance>;
}

const { page } = Astro.props as Props;
---

<MainLayout>
  <Debug page={page} />
	<div class="container blog-list">
		<nav class="breadcrumb" aria-label="breadcrumbs">
			<ul>
				<li><a href="/">🏠</a></li>
				<li class="is-active"><a href="#" aria-current="page">Blog</a></li>
			</ul>
		</nav>
		{page.data.map((post) => {
			return <ArticlePreview post={post} />;
		})}
	</div>
</MainLayout>
