@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
// @import 'normalize.css';
@import 'variables.scss';

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: $color-primary;
}

@page {
    size: A4;
    margin: 0.5in;
}

/** Typography **/

body {
    font: 16px/1.75 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    font-weight: normal;
    flex-direction: column;
    color: $base-font-color;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.125em;
    line-height: 1.17;
}

h2 {
    font-size: 1.75em;
    line-height: 1.143;
}

h3 {
    font-size: 1.375em;
    line-height: 1.36;
}

h4 {
    font-size: 1.125em;
    line-height: 1.22;
}

h5 {
    font-size: 0.875em;
    line-height: 1.286;
}

h6 {
    font-size: 0.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    margin: 0 0 1em 0;
    font-weight: bold;
    color: $color-dark;
}

p {
    font-size: 1em;
    padding-top: 0;
    line-height: 1.75;
    margin: 0 0 1em 0;
}

blockquote {
    padding: 0 0 0 30px;
    margin: 30px 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #aaa;
    border-left: solid 10px #eee;
}

a {
    color: $color-primary;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: darken($color-primary, 10%);
        text-decoration: underline;
    }
}

ul,
ol {
    margin: 0 0 1.875em 1.125em;
    padding: 0;
}

li {
    font-size: 1em;
    line-height: 1.75em;
    margin: 0 0 0 0.3125em;
}

/** END Typography **/

:global(.container) {
    width: 100%;
    margin: 0 auto;
    transition: width 0.2s ease;
    padding: 0 1.25em;

    @media (min-width: $screen-xs) {
        width: 480px;
        padding: 0;
    }

    @media (min-width: $screen-sm) {
        width: 720px;
    }

    @media (min-width: $screen-md) {
        width: 960px;
    }

    @media (min-width: $screen-lg) {
        width: 1024px;
    }

    @media print {
        width: 100%;
    }
}

:global(.blog-post) {
    width: 100%;

    @media (min-width: $screen-xs) {
        width: 480px;
    }

    @media (min-width: $screen-sm) {
        width: 720px;
    }

    @media (min-width: $screen-md) {
        width: 720px;
    }

    @media (min-width: $screen-lg) {
        width: 720px;
    }

    @media print {
        width: 100%;
    }
}

:global(.img-center) {
    display: block;
    margin: 0 auto;
}

:global(.red) {
    color: $color-red;
}

@import 'code.scss';
@import 'table.scss';
